1. Exploration
-Matrice de correlation
-Description des stats de base
-Valeurs manquantes
-Distribution (outliers)
-Boxplot

2. Pre-traitement
-Nettoyage
-Elimination des outliers
-Elimination/remplacement des valeurs manquantes
-Encodage
-Feature engineering

3. Dev Modele
-RandomForest
-Naive bayes
-Calcul des métriques avec plusieurs iterations (Accuracy, Precison, F1-score, T-Colinéarité, Interprétation)




